Flask==0.10.1
Flask-Auth==0.85
Flask-HTTPAuth==2.2.1
Flask-Login==0.2.11
Flask-Mail==0.9.0
Flask-OAuth==0.12
Flask-Passlib==0.1
Flask-Principal==0.4.0
Flask-RESTful==0.2.12
Flask-SQLAlchemy==1.0
Flask-Security==1.7.3
Flask-Social==1.6.2
Flask-WTF==0.10.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
WTForms==2.0.1
Werkzeug==0.9.6
aniso8601==0.82
blinker==1.3
facebook-sdk==1.0.0-alpha
httplib2==0.9
itsdangerous==0.24
oauth2==1.5.211
passlib==1.6.1
pytz==2014.4
requests==2.3.0
sh==1.09
six==1.7.2
wsgiref==0.1.2
